<div class="container-background">
  <div class="container main-content">

    <!-- Categories & Products-->
    <div class="row categories_and_products_container">

      <!-- Categories -->
      <div class="col-md-3 hidden-xs">
        <%= render 'home/categories_pane', is_ajax: true %>
      </div>
      <!-- Categories End -->

      <!-- Products -->
      <div id="products_div" class="col-md-9 col-xs-12">

        <div class="compiled_sets_banner"></div>

        <%= render 'products/products_list' %>

        <div class="col-md-6 col-xs-12 perfect_skin_banner"></div>
        <div class="col-md-6 col-xs-12 medical_banner"></div>

      </div>
      <!-- Products End -->

    </div>
    <!-- Categories & Products End-->

    <!-- Last Visited Products -->
    <div class="row">
      <%= render partial: 'home/last_visited_products', locals: {title: t('last_visited_products'), products: last_visit_products} %>
    </div>
    <!-- Last Visited Products End -->

  </div>
</div>