<div class="cart-info-section">
  <div class="cart-amount"><%= shopping_cart.total_products_count %></div>
  <%= link_to '', shopping_carts_path, :class => 'cart', :title => t('shopping_cart') %>
  <div class="total-price">
    <div class="total"><%= t('total')%>:</div>
    <div class="price"><%= number_to_currency(shopping_cart.total_price) %></div>
  </div>
</div>