<div class="cart-info-section">
  <div class="cart-amount"><%= shopping_cart.total_products_count %></div>
  <%= link_to '', shopping_carts_path, :class => 'cart' %>
  <div class="total-price">
    <div class="total">total:</div>
    <div class="price">&#163; <%= shopping_cart.total_price %></div>
  </div>
</div>