<div class="container margin-top">
  <div class="path">
    <%= render_breadcrumbs :separator => ' / ' %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="cart-title">Shopping Cart</div>
    </div>
  </div>

  <div id="shopping_cart_products_div">
    <%= render 'shopping_carts/shopping_cart_products' %>
  </div>

  <div class="row">
    <div class="col-md-12 buttons-container">
      <a href="#" class="button green right">Payment</a>
      <%= link_to 'Continue Shopping', root_path, html_options = { class: 'button green right continue-shopping' } %>
    </div>
  </div>

  <!-- Last Visited Products -->
  <div class="row">
    <%= render 'home/last_visited_products' %>
  </div>
  <!-- Last Visited Products End -->

</div>