<div class="container margin-top">
  <div class="path">
    <%= render_breadcrumbs :separator => ' / ' %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="cart-title">Shopping Cart</div>
    </div>
  </div>

  <div id="shopping_cart_products_div">
    <%= render 'shopping_carts/shopping_cart_products' %>
  </div>

  <!-- Last Visited Products -->
  <div class="row">
    <%= render 'home/last_visited_products' %>
  </div>
  <!-- Last Visited Products End -->

</div>