<div class="row">
  <div class="col-md-12 col-sm-6">
    <%= link_to '', special_offers_path, :class => 'banner-element banner1', :data => {:no_turbolink => true}, :title => t('special_offers') %>
  </div>
  <div class="col-md-12 col-sm-6">
    <%= link_to '', '#', :class => 'banner-element banner2', :data => {:no_turbolink => true} %>
  </div>
</div>