<div class="row">
  <%= link_to '', '#', :class => 'banner-element banner1', :data => {:no_turbolink => true} %>
</div>
<div class="row" style="margin-top: 15px">
  <%= link_to '', '#', :class => 'banner-element banner2', :data => {:no_turbolink => true} %>
</div>