<div class="title-banner">
  <%= t('shop_by_brand')%>
</div>
<div class="content-container categories-container">
  <ul class="categories-list">
    <% @brands.each do |brand| %>
        <li class="category_li">
          <%= link_to format('%{brand} (%{brand_count})', {:brand => brand.name, :brand_count => brand.products.length}), filter_path(:brand => brand), :title => brand.name, remote: true %>
        </li>
    <% end %>
  </ul>
</div>