<div class="title-banner">
  OUR CATEGORIES
</div>
<div class="content-container">
  <ul class="categories-list">
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
    <li>
      <a href="#">Category Name (10)</a>
    </li>
  </ul>
</div>