<div class="title-banner">
  OUR CATEGORIES
</div>
<div class="content-container">
  <ul class="categories-list">
    <% @categories.each do |category| %>
        <li>
          <!--<div class="dot"></div>-->
          <div class="category-arrow" data-category="<%= category.name %>"></div>
          <%= link_to category.name, filter_path(category),  remote: true %>
        </li>
        <% category.children.each do |child_category| %>
            <li class="sub-category hidden" data-category="<%= category.name %>">
              <!--<div class="dot"></div>-->
              <%= link_to child_category.name, filter_path(child_category),  remote: true %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>