<div class="title-banner">
  OUR CATEGORIES
</div>
<div class="content-container">
  <ul class="categories-list">
    <% @categories.each do |category| %>
        <li>
          <a href="#"><%= category.name %></a>
        </li>
        <% category.children.each do |child_category| %>
            <li>
              <a href="#"> < <%= child_category.name %></a>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>