<nav class="main-nav-wrapper">
  <!-- Nav bar for phones -->
  <div class="navbar navbar-default visible-xs phone-nav">
    <div class="navbar-header" data-toggle="collapse" data-target=".phone-categories-nav" >
      <div class="phone-nav-title">Categories</div>
      <button data-target=".phone-main-nav" class="navbar-toggle">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse nopadding phone-categories-nav">
      <ul class="nav navbar navbar-left nomargin">
        <% $root_categories.each do |category| %>
            <li class="nav-item-phone text-center">
              <%= link_to category.name, filter_path(category),  remote: true %>
            </li>
            <% category.children.each do |child_category| %>
                <li class="nav-item-phone text-center">
                  <%= link_to child_category.name, filter_path(child_category),  remote: true %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- Nav bar for phones end -->
</nav>