<div class="royalSlider rsMinW" id="hpGallery">
  <a href="http://www.arhealthcorp.com/">
    <div class="gallery-item" style='background-image: url("<%= image_path 'slider-image.jpg' %>");' title="Beauty"></div>
  </a>
  <a href="http://www.arhealthcorp.com/">
    <div class="gallery-item" style='background-image: url("<%= image_path 'slider-image.jpg' %>");' title="Health"></div>
  </a>
  <a href="http://www.arhealthcorp.com/">
    <div class="gallery-item" style='background-image: url("<%= image_path 'slider-image.jpg' %>");' title="Health care"></div>
  </a>
</div>
