<div class="royalSlider rsMinW" id="hpGallery">
    <div class="gallery-item" style='background-image: url("<%= image_path 'slider-image.jpg' %>");' title="Beauty"></div>
    <div class="gallery-item" style='background-image: url("<%= image_path 'slider-image.jpg' %>");' title="Health"></div>
    <div class="gallery-item" style='background-image: url("<%= image_path 'slider-image.jpg' %>");' title="Health care"></div>
</div>
