<div class="royalSlider rsMinW" id="hpGallery">
    <div class="gallery-item" style='background-image: url("<%= image_path "slider-image.jpg" %>");'></div>
    <div class="gallery-item" style='background-image: url("<%= image_path "slider-image.jpg" %>");'></div>
    <div class="gallery-item" style='background-image: url("<%= image_path "slider-image.jpg" %>");'></div>
</div>
