<div class="col-md-12">
  <div class="title-banner">
    Last Visited Products
  </div>
  <div class="content-container">
    <!-- First row -->
    <div class="row nopadding nomargin">
      <div class="col-md-3 nopadding nomargin">
        <div class="item-container text-center">
          <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>

          <div class="item-title">
            Hair protection & BLA bla bla
          </div>
          <div class="item-price">
            <div class="price left">
              17$
            </div>
            <div class="rating right"></div>
            <div class="clearfix"></div>
          </div>
          <div class="button green">
            ADD TO CART
          </div>
        </div>
      </div>
      <div class="col-md-3 nopadding nomargin">
        <div class="item-container text-center">
          <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>

          <div class="item-title">
            Hair protection & BLA bla bla
          </div>
          <div class="item-price">
            <div class="price left">
              17$
            </div>
            <div class="rating right"></div>
            <div class="clearfix"></div>
          </div>
          <div class="button green">
            ADD TO CART
          </div>
        </div>
      </div>
      <div class="col-md-3 nopadding nomargin">
        <div class="item-container text-center">
          <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>

          <div class="item-title">
            Hair protection & BLA bla bla
          </div>
          <div class="item-price">
            <div class="price left">
              17$
            </div>
            <div class="rating right"></div>
            <div class="clearfix"></div>
          </div>
          <div class="button green">
            ADD TO CART
          </div>
        </div>
      </div>
      <div class="col-md-3 nopadding nomargin">
        <div class="item-container last-item text-center">
          <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>

          <div class="item-title">
            Hair protection & BLA bla bla
          </div>
          <div class="item-price">
            <div class="price left">
              17$
            </div>
            <div class="rating right"></div>
            <div class="clearfix"></div>
          </div>
          <div class="button green">
            ADD TO CART
          </div>
        </div>
      </div>
    </div>
    <!-- First row End -->
  </div>
</div>