<div class="title-banner">
  <%= t('shop_by_price')%>
</div>
<div class="content-container categories-container">
  <ul class="categories-list">
    <% @price_ranges.each do |price_range| %>
        <li>
          <%= link_to format('%{price}', {:price => ('£'+price_range[0].to_s + ' - ' + '£'+price_range[1].to_s)}), price_path(price_range[2]), remote: true %>
        </li>
    <% end %>
  </ul>
</div>