<div class="title-banner">
  OUR FEATURED PRODUCTS
</div>
<div class="content-container">
  <!-- rows -->
  <% @products.in_groups_of(3, false).each do |group| %>
   <div class="row nopadding nomargin">
    <% group.each do |product| %>
     <div class="col-md-4 nopadding nomargin">
      <div class="item-container text-center">

        <%= link_to '', product, :class => 'item-image', :style=> 'background-image: url('+
                asset_path("product-image-1.jpg") + ');' %>

        <br />

        <div class="item-title">
          <%= product.name %>
        </div>
        <div class="item-price">
          <div class="price left">
            <%= product.price %> £
          </div>
          <div class="rating right"></div>
          <div class="clearfix"></div>
        </div>
        <div class="button green">
          ADD TO CART
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
  <!-- rows -->
</div>
<div class="pager-wrapper">
  <div class="products-count left">
    9 of 34 products
  </div>
  <div class="pager-container right">
    <div class="page active">
      1
    </div>
    <div class="page">
      2
    </div>
    <div class="page">
      3
    </div>
  </div>
  <div class="clearfix"></div>
</div>