<%= form_tag(controller: 'home', action: 'send_message') do %>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <input class="contact-input" name="name" type="text" placeholder=" * Name" data-content="Please, enter your name" data-placement="top" data-original-title="" title="">
      </div>
      <div class="col-md-4 col-xs-12">
        <input class="contact-input" name="email" type="email" placeholder=" * Email" name="from" data-content="Please, enter correct email" data-placement="top" data-original-title="" title="">
      </div>
      <div class="col-md-4 col-xs-12">
        <input class="contact-input" name="phone" type="tel" placeholder=" Phone" name="phone" data-content="Please, enter correct phone" data-placement="top" data-original-title="" title="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <textarea class="contact-input" name="message" placeholder=" Your message..."></textarea>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <input class="button green submit-button" type="submit" value="SEND MESSAGE">
      </div>
    </div>
<% end %>