<div class="container-background">
  <div class="container nopadding main-content">

    <!-- Categories -->
    <div class="col-md-3 hidden-xs">
      <%= render 'categories_pane', is_ajax: false %>
    </div>
    <!-- Categories End -->

    <!-- Help center data -->
    <div class="col-md-9 col-xs-12">

      <div class="title-banner">
        <%= t('help_center') %>
      </div>

      <div class="content-container help-center"></div>

      <div class="content-container help-center-text">
        <%= t('help_center_data').html_safe %>
      </div>

    </div>

  </div>
</div>