<!-- Page content -->
<!-- Gallery -->
<div class="container-fluid nopadding nomargin hidden-xs">
  <%= render 'homepage_slider' %>
</div>
<!-- Gallery End -->
<div class="container">
<!-- Categories & Products-->
    <div class="row categories_and_products_container">
      <!-- Categories -->
      <div class="col-md-3">
        <%= render 'categories_pane' %>
      </div>
      <!-- Categories End -->
      <!-- Products -->
      <div class="col-md-9">
       <%= render 'products_list' %>
      </div>
      <!-- Products End -->
    </div>
    <!-- Categories & Products End-->

    <!-- Last Visited Products -->
    <div class="row">
      <%= render 'last_visited_products' %>
    </div>
  <!-- Last Visited Products End -->
</div>
<!-- Page content End -->