<div class="container-background">
  <div class="container main-content main-content-transparent">

    <div class="path">
      <%= render_breadcrumbs :separator => ' / ' %>
    </div>

    <div class="page-title">
      <%= @title %>
    </div>

    <%= @html %>

    <% if !@isContactView.nil? && @isContactView %>
        <%= render partial: 'send_message' %>
    <% end %>

  </div>
</div>