<div class="container margin-top">

  <div class="path">
    <%= render_breadcrumbs :separator => ' / ' %>
  </div>

  <div class="page-title">
    <%= @title %>
  </div>

  <%= @html %>

  <% if !@isContactView.nil? && @isContactView %>
      <%= render partial: 'send_message' %>
  <% end %>

</div>