<div class="container-background">
  <div class="container nopadding main-content">

    <div class="path">
      <%= render_breadcrumbs :separator => ' / ' %>
    </div>

    <div class="page-title">
      <%= @title %>
    </div>

    <%= @html %>

  </div>
</div>