@font-face
  font-family: 'MyOpenSans'
  src: font-url('OpenSans-Bold.ttf')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'MyOpenSans'
  src: font-url('OpenSans-Italic.ttf')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'MyOpenSans'
  src: font-url('OpenSans-Regular.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'MyOpenSans'
  src: font-url('OpenSans-Semibold.ttf')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'MyOpenSans'
  src: font-url('OpenSans-SemiboldItalic.ttf')
  font-weight: 600
  font-style: italic

@font-face
  font-family: 'MyOpenSans'
  src: font-url('OpenSans-Light.ttf')
  font-weight: light
  font-style: normal

@font-face
  font-family: 'MyOpenSans'
  src: font-url('OpenSans-LightItalic.ttf')
  font-weight: light
  font-style: italic

@font-face
  font-family: 'Glyphicons Halflings'
  src: url('../fonts/glyphicons-halflings-regular.eot')
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')