/* Generic styles */
body {
	padding: 0px;
	margin: 0px;
}

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.button {
	clear: both;
	padding: 10px 20px;
	color: #FFFFFF;
}

.button {

}

.button:hover {
	cursor: pointer;
}

/* Generic styles End */

/* Common styles */
.top-bar-wrapper,  .button.green:hover{
    background: #f79114;
}

.top-bar-text.phone {
    font-style: italic;
    font-size: 14px;
}

.top-bar-text, .top-bar-container, .main-nav-tab, .button, .item-title, .products-count, .category-name, .category-item, .footer-main-text,.footer-text-title, .footer-text {
    font-family: 'Open Sans';
}

.top-bar-text, .top-bar-container, .main-nav-tab, .button, .item-title, .main-nav-tab, .title-banner, .page.active, .page:hover, .footer-main-text {
    color: #FFFFFF;
}

.main-nav-wrapper, .title-banner, .footer, .button.green, .button.orange:hover, .page.active, .page:hover {
    background: #69a820;
}

.item-title {
    color: #3e7808;
}

.item-title, .category-name, .title-banner, .category-name {
    text-transform: uppercase;
}

.pager-wrapper, .page {
    border-right: solid #BBD1A1 1px;
    border-bottom: solid #BBD1A1 1px;
    border-left: solid #BBD1A1 1px;
}

.products-count, .page {
    color: #ACACAC;
}
/* Common styles End */

.top-bar-wrapper {
	position: relative;
}

.top-bar-container {
	font-size: 0px;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.top-bar-text {
	padding: 5px 0px;
    font-size: 12px;
}

.top-bar-tab {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	border-right: solid #FFFFFF 1px;
}

.top-bar-tab.first-tab {
	border-left: solid #FFFFFF 1px;
}

.top-bar-tab:hover {
	text-decoration: underline;
	cursor: pointer;
}

.main-nav-tab {
	display: inline-block;
	padding: 10px;
}

.main-nav-tab:hover {
	background: #5a9812;
	cursor: pointer;
}

.title-banner {
	padding: 10px;
}

.content-container {
	padding: 20px 0px;
    border-right: solid #BBD1A1 1px;
    border-bottom: solid #BBD1A1 1px;
    border-left: solid #BBD1A1 1px;
}

.item-container {
	margin: 10px;
	padding: 0px 20px;
	border-right: solid #ACACAC 1px;
}

.item-container.last-item {
	border: none;
}

.item-image {
	display: block;
	height: 200px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.item-title {
    font-size: 16px;
    font-weight: 600;
}

.item-price {
    font-size: 16px;
    font-weight: 700;
    color: #5d5d5d;
}

.page {
	display: inline-block;
}

.page.active, .page:hover {
	cursor: pointer;
}

.products-count, .page {
	padding: 5px 10px;
}

.category-name {
    margin: 20px 0px;
    font-size: 16px;
    color: #3e7808;
}

.category-text, .category-item {
    font-style: italic;
    font-size: 14px;
    color: #7C7C7C !important;
}

.category-item {
    display: block;
    margin-top: 5px;
    text-decoration: none !important;
}

.category-item:hover {
    text-decoration: underline !important;
    background: none;
}

.footer {
    margin-top: 40px;
	padding: 50px;
}

.footer-main-text {
    font-size: 14px;
}

.footer-text-title {
    font-size: 12px;
}

.footer-text {
    font-size: 11px;
}

.footer-text, .footer-text-title {
    color: #CDDEB6;
}