<div class="<%= item_class %>" style="text-align: center;">
  <%= link_to '', filter_path(:category => category.id), :class => 'item-image', :style => 'background-image: url('+ category.image.url() + ');', :title => category.name %>
  <div class="item-title">
    <%= link_to format('%{category} (%{product_count})', {:category => category.name, :product_count => category.products_count}), filter_path(:category => category.id), :title => category.name %>
  </div>
</div>