<div class="container" id="products_div">
  <div class="path">
    <%= render_breadcrumbs :separator => ' / ' %>
  </div>

  <div class="page-title">
    Products
  </div>

  <!-- Products List -->
  <%= render 'products/products_list' %>
  <!-- Products List -->
</div>